<section id="election">
  {{#if frenteAFrenteFuncionalidad}}
    <div id="msj-alerta" class="alert alert-info">
      {{{frenteAFrenteFuncionalidad.title}}}
    </div>
  {{/if}}

  <div id="compare-candidates">
    <div class="row">
      <div class="col-md-6">
        {{one-way-select perfilUnoId
          options=model.perfiles
          optionValuePath="id"
          optionLabelPath="nombre"
          update=(action (mut perfilUno))
        }}
      </div>
      <div class="col-md-6">
        {{one-way-select perfilDosId
          includeBlank="Seleccionar"
          options=model.perfiles
          optionValuePath="id"
          optionLabelPath="nombre"
          update=(action (mut perfilDos))
        }}
      </div>
    </div>
    {{!-- VOTACION --}}
    <div class="d-none d-md-block">
      <div class="panel panel-default border">
        <div class="panel-heading d-flex">
          <img src="app/img/icon-votaciones.png" alt="Casilla de verificación" class="image60x60">
          <h3 class="panel-title my-auto mx-3">
            Votación
          </h3>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-md-1">
              <img
                src="{{perfilUno.fotoPerfil}}"
                alt="{{perfilUno.nombre}}"
                border="0"
                class="img-fluid"
              >
            </div>
            <div class="col-md-5">
              <div class="fondo-blanco contenedor">
                <p>
                  <div class="body tabla-gradacion-content no-padding-top-bottom">
                    <div class="row">
                      <div class="col-xs-9 col-md-10 col-md-offset-0 text-container text-dark text-center m-auto">
                        APROBACIÓN DE PRESUPUESTO 2021 - INICIATIVA DE LEY 5832 - 17/11/2020
                      </div>
                      <div class="col-xs-2 col-md-2 text-center" style="padding-left: 5px; padding-right: 5px;">
                        <span class="badge text-white"><i class="{{check-or-times perfilUno.iniciativa1}} text-white"></i></span>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-xs-9 col-md-10 col-md-offset-0 text-container text-dark text-center m-auto">
                        SOLICITUD DE DESTITUCIÓN DEL MINISTRO DE GOBERNACIÓN, GENDRI REYES - 25/11/2020
                      </div>
                      <div class="col-xs-2 col-md-2 text-center" style="padding-left: 5px; padding-right: 5px;">
                        <span class="badge text-white"><i class="{{check-or-times perfilUno.iniciativa2}} text-white"></i></span>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-xs-9 col-md-10 col-md-offset-0 text-container text-dark text-center m-auto">
                        PROPUESTA DIP. AREVALO, SEMILLA, ADELANTAR ELECCIÓN DE CORTES - 14/10/2020
                      </div>
                      <div class="col-xs-2 col-md-2 text-center" style="padding-left: 5px; padding-right: 5px;">
                        <span class="badge text-white"><i class="{{check-or-times perfilUno.iniciativa3}} text-white"></i></span>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-xs-9 col-md-10 col-md-offset-0 text-container text-dark text-center m-auto">
                        REGRESO A COMISIÓN DE COOPERATIVISMO INICIATIVA 5632 - 14/10/2020
                      </div>
                      <div class="col-xs-2 col-md-2 text-center" style="padding-left: 5px; padding-right: 5px;">
                        <span class="badge text-white"><i class="{{check-or-times perfilUno.iniciativa4}} text-white"></i></span>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-xs-9 col-md-10 col-md-offset-0 text-container text-dark text-center m-auto">
                        PROPUESTA DIP. ROMÁN CASTELLANOS, SEMILLA, ADELANTAR ELECCIÓN DE CORTES - 21/10/2020
                      </div>
                      <div class="col-xs-2 col-md-2 text-center" style="padding-left: 5px; padding-right: 5px;">
                        <span class="badge text-white"><i class="{{check-or-times perfilUno.iniciativa5}} text-white"></i></span>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-xs-9 col-md-10 col-md-offset-0 text-container text-dark text-center m-auto">
                        ELECCION DE JD. 2021-2022, PLANILLA UNICA - 21/10/2020
                      </div>
                      <div class="col-xs-2 col-md-2 text-center" style="padding-left: 5px; padding-right: 5px;">
                        <span class="badge text-white"><i class="{{check-or-times perfilUno.iniciativa6}} text-white"></i></span>
                      </div>
                    </div>
                    <div class="row border-0">
                      <div class="col-xs-7 col-md-9 col-md-10ffset-0 text-container text-dark text-center m-auto">
                        ACUERDO LEGISLATIVO 15-2020, ELECCION DE JD 2021-2022 - 21/10/2020
                      </div>
                      <div class="col-xs-2 col-md-2 text-center" style="padding-left: 5px; padding-right: 5px;">
                        <span class="badge text-white"><i class="{{check-or-times perfilUno.iniciativa7}} text-white"></i></span>
                      </div>
                    </div>
                    <div class="row border-0">
                      <span class="mr-4">
                        <i class="my-auto fa fa-check"></i>
                        A favor
                      </span>
                      <span class="mr-4">
                        <i class="my-auto fa fa-times"></i>
                        En contra
                      </span>
                      <span class="mr-4">
                        <i class="my-auto fa fa-question-circle"></i>
                        Ausente
                      </span>
                      <span class="mr-4" data-toggle="tooltip" data-placement="top" title="Información pendiente">
                        <i class="my-auto fa fa-book"></i>
                        Licencia
                      </span>
                    </div>
                  </div>
                </p>
                <p class="text-right">{{perfilUno.nombre}}</p>
              </div>
            </div>
            {{#if perfilDos}}
              <div class="col-md-1">
                <img src="{{perfilDos.fotoPerfil}}" alt="{{perfilDos.nombre}}" border="0" class="img-fluid">
              </div>
              <div class="col-md-5">
                <div class="fondo-blanco contenedor">
                  <p>
                    <div class="body tabla-gradacion-content no-padding-top-bottom">
                      <div class="row">
                        <div class="col-xs-9 col-md-10 col-md-offset-0 text-container text-dark text-center m-auto">
                          APROBACIÓN DE PRESUPUESTO 2021 - INICIATIVA DE LEY 5832 - 17/11/2020
                        </div>
                        <div class="col-xs-2 col-md-2 text-center" style="padding-left: 5px; padding-right: 5px;">
                          <span class="badge text-white"><i class="{{check-or-times perfilDos.iniciativa1}} text-white"></i></span>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-xs-9 col-md-10 col-md-offset-0 text-container text-dark text-center m-auto">
                          SOLICITUD DE DESTITUCIÓN DEL MINISTRO DE GOBERNACIÓN, GENDRI REYES - 25/11/2020
                        </div>
                        <div class="col-xs-2 col-md-2 text-center" style="padding-left: 5px; padding-right: 5px;">
                          <span class="badge text-white"><i class="{{check-or-times perfilDos.iniciativa2}} text-white"></i></span>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-xs-9 col-md-10 col-md-offset-0 text-container text-dark text-center m-auto">
                          PROPUESTA DIP. AREVALO, SEMILLA, ADELANTAR ELECCIÓN DE CORTES - 14/10/2020
                        </div>
                        <div class="col-xs-2 col-md-2 text-center" style="padding-left: 5px; padding-right: 5px;">
                          <span class="badge text-white"><i class="{{check-or-times perfilDos.iniciativa3}} text-white"></i></span>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-xs-9 col-md-10 col-md-offset-0 text-container text-dark text-center m-auto">
                          REGRESO A COMISIÓN DE COOPERATIVISMO INICIATIVA 5632 - 14/10/2020
                        </div>
                        <div class="col-xs-2 col-md-2 text-center" style="padding-left: 5px; padding-right: 5px;">
                          <span class="badge text-white"><i class="{{check-or-times perfilDos.iniciativa4}} text-white"></i></span>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-xs-9 col-md-10 col-md-offset-0 text-container text-dark text-center m-auto">
                          PROPUESTA DIP. ROMÁN CASTELLANOS, SEMILLA, ADELANTAR ELECCIÓN DE CORTES - 21/10/2020
                        </div>
                        <div class="col-xs-2 col-md-2 text-center" style="padding-left: 5px; padding-right: 5px;">
                          <span class="badge text-white"><i class="{{check-or-times perfilDos.iniciativa5}} text-white"></i></span>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-xs-9 col-md-10 col-md-offset-0 text-container text-dark text-center m-auto">
                          ELECCION DE JD. 2021-2022, PLANILLA UNICA - 21/10/2020
                        </div>
                        <div class="col-xs-2 col-md-2 text-center" style="padding-left: 5px; padding-right: 5px;">
                          <span class="badge text-white"><i class="{{check-or-times perfilDos.iniciativa6}} text-white"></i></span>
                        </div>
                      </div>
                      <div class="row border-0">
                        <div class="col-xs-7 col-md-9 col-md-10ffset-0 text-container text-dark text-center m-auto">
                          ACUERDO LEGISLATIVO 15-2020, ELECCION DE JD 2021-2022 - 21/10/2020
                        </div>
                        <div class="col-xs-2 col-md-2 text-center" style="padding-left: 5px; padding-right: 5px;">
                          <span class="badge text-white"><i class="{{check-or-times perfilDos.iniciativa7}} text-white"></i></span>
                        </div>
                      </div>
                      <div class="row border-0">
                        <span class="mr-4">
                          <i class="my-auto fa fa-check"></i>
                          A favor
                        </span>
                        <span class="mr-4">
                          <i class="my-auto fa fa-times"></i>
                          En contra
                        </span>
                        <span class="mr-4">
                          <i class="my-auto fa fa-question-circle"></i>
                          Ausente
                        </span>
                        <span class="mr-4" data-toggle="tooltip" data-placement="top" title="Información pendiente">
                          <i class="my-auto fa fa-book"></i>
                          Licencia
                        </span>
                      </div>
                    </div>
                  </p>
                  <p class="text-right">{{perfilDos.nombre}}</p>
                </div>
              </div>
            {{/if}}
          </div>
        </div>
      </div>
      {{!-- ASISTENCIA --}}
      <div class="panel panel-default border d-none">
        <div class="panel-heading d-flex">
          <img src="app/img/icon-asistencia.png" alt="Personas" class="image60x60">
          <h3 class="panel-title my-auto mx-3">
            Asistencia
          </h3>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-md-1">
              <img src="{{perfilUno.fotoPerfil}}" alt="{{perfilUno.nombre}}" border="0" class="img-fluid">
            </div>
            <div class="col-md-5">
              <div class="fondo-blanco contenedor">
                <p>
                  {{ember-chart class="m-2" type='doughnut' data=this.chartData options=model.options width=200 height=100}}
                </p>
                <p class="text-right">{{perfilUno.nombre}}</p>
              </div>
            </div>
            {{#if perfilDos}}
            <div class="col-md-1">
              <img src="{{perfilDos.fotoPerfil}}" alt="{{perfilDos.nombre}}" border="0" class="img-fluid">
            </div>
            <div class="col-md-5">
              <div class="fondo-blanco contenedor">
                <p>
                  {{ember-chart class="m-2" type='doughnut' data=this.chartData options=model.options width=200 height=100}}
                </p>
                <p class="text-right">{{perfilDos.nombre}}</p>
              </div>
            </div>
            {{/if}}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
