{{!-- Información general --}}
<!--
  Revisa este diseño
-->
<div class="row m-1 bg-white border">
  {{!-- Imagen --}}
  <div class="col-md-3 text-center p-3">
    <img
      id="photo-profile"
      src={{model.perfil.fotoPerfil}}
      alt={{model.perfil.nombre}}
      border="0"
      class="img-responsive center-block"
    >
  </div>
  {{!-- Información general --}}
  <div class="col-md-6 p-3">
    <h3>{{model.perfil.nombre}}</h3>
    <table class="table w-75">
      <tbody>
        {{#each-in model.perfil.informacionGeneral as |key item|}}
          <tr>
            <td class="p-0">
              <small class="font-weight-normal">
                {{#if item.label}} <strong>{{{item.label}}} </strong> {{/if}}
                <span class="font-weight-light">{{{item.value}}}</span>
              </small>
            </td>
          </tr>
        {{/each-in}}
        {{#if model.perfil.JuntaDirectiva}}
        <tr>
          <td class="p-0">
            <small class="font-weight-normal">
              <strong>Junta directiva:</strong>
              <span class="font-weight-light">{{{model.perfil.JuntaDirectiva}}}</span>
            </small>
          </td>
        </tr>
        {{/if}}
        {{#if model.perfil.jefeDeBloque}}
        <tr>
          <td class="p-0">
            <small class="font-weight-normal">
              <strong>Jefe de bloque:</strong>
              <span class="font-weight-light">{{{model.perfil.jefeDeBloque}}}</span>
            </small>
          </td>
        </tr>
        {{/if}}
        {{#if model.perfil.Comisión}}
        <tr>
          <td class="p-0">
            <small class="font-weight-normal">
              <strong>Comisión:</strong>
              <span class="font-weight-light">{{{model.perfil.Comisión}}}</span>
            </small>
          </td>
        </tr>
        {{/if}}
      </tbody>
    </table>
  </div>
  {{!-- Información extra, redes sociales --}}
  <div class="col-md-3 social-side text-center d-block p-3">
    <div>
      {{#link-to 'partidos.partido' model.perfil.partidoactual}}
        <img
          src="{{model.perfil.fotoUrlPartido}}"
          alt="{{model.perfil.partidoactual}}"
          width="100px">
      {{/link-to}}
      {{#link-to 'partidos.partido' model.perfil.partidoactual}}
        <h6>Ver bloque</h6>
      {{/link-to}}
    </div>
    <div class="d-block mt-3">
      {{#if model.perfil.tw}}
        <div>
          <a href={{model.perfil.tw}} target="_blank" rel="noopener">
            <img src="img/icono-tw.png" alt="Twitter">
            {{model.perfil.tw}}
          </a>
        </div>
      {{/if}}
      {{#if model.perfil.fb}}
        <div>
          <a href={{model.perfil.fb}} target="_blank" rel="noopener">
            <img src="img/icono-fb.png" alt="Facebook">
            {{model.perfil.nombre}}
          </a>
        </div>
      {{/if}}
    </div>
  </div>
</div>

{{!-- Social --}}
<div class="row m-1 mt-4 panel perfil-social">
  <div class="col-12 col-md-4">
    <img src="app/img/icon-phone-fulled.png" alt="Icono teléfono.">

    <p>Teléfono: <a href="tel:+502{{model.perfil.telefono}}">{{model.perfil.telefono}}</a></p>
  </div>
  <div class="col-12 col-md-4">
    <img src="app/img/icon-marker-fulled.png" alt="Icono dirección.">
    <p>Dirección: <a target="_blank" href="https://www.google.com/search?q={{model.perfil.direccion}}">{{model.perfil.direccion}}</a></p>
  </div>
  <div class="col-12 col-md-4">
    <img src="app/img/icon-envelop-fulled.png" alt="Icono correo electrónico.">
    <p>Correo eletrónico: <a href="mailto:{{model.perfil.email}}">{{model.perfil.email}}</a></p>
  </div>
</div>

{{!-- Votaciones y Asistencia --}}
<div class="row">
  {{!-- Votaciones --}}
  <div class="col-md-6">
    <div class="panel">
      <div class="header d-flex">
          <img src="app/img/icon-votaciones.png" alt="Votaciones" class="image60x60"><h3 class="my-auto mx-5">Votaciones</h3>
        </div>
      <div class="body tabla-gradacion-content no-padding-top-bottom">
        <div class="row">
          <div class="col-xs-3 col-md-2 text-center icon-container">
            <img src="app/img/icon-reformas-materia-antejuicio.png" class="img-responsive center" />
          </div>
          <div class="col-xs-7 col-md-8 col-md-offset-0 text-container text-center m-auto">
            APROBACIÓN DE PRESUPUESTO 2021 - INICIATIVA DE LEY 5832 - 17/11/2020
          </div>
          <div class="col-xs-2 col-md-2 text-center" style="padding-left: 5px; padding-right: 5px;">
            <span class="badge text-white"><i class="{{check-or-times model.perfil.iniciativa1}}"></i></span>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-3 col-md-2 text-center icon-container">
            <img src="app/img/icon-reformas-materia-antejuicio.png" class="img-responsive center" />
          </div>
          <div class="col-xs-7 col-md-8 col-md-offset-0 text-container text-center m-auto">
            SOLICITUD DE DESTITUCIÓN DEL MINISTRO DE GOBERNACIÓN, GENDRI REYES - 25/11/2020
          </div>
          <div class="col-xs-2 col-md-2 text-center" style="padding-left: 5px; padding-right: 5px;">
            <span class="badge text-white"><i class="{{check-or-times model.perfil.iniciativa2}}"></i></span>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-3 col-md-2 text-center icon-container">
            <img src="app/img/icon-reformas-materia-antejuicio.png" class="img-responsive center" />
          </div>
          <div class="col-xs-7 col-md-8 col-md-offset-0 text-container text-center m-auto">
            PROPUESTA DIP. AREVALO, SEMILLA, ADELANTAR ELECCIÓN DE CORTES - 14/10/2020
          </div>
          <div class="col-xs-2 col-md-2 text-center" style="padding-left: 5px; padding-right: 5px;">
            <span class="badge text-white"><i class="{{check-or-times model.perfil.iniciativa3}}"></i></span>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-3 col-md-2 text-center icon-container">
            <img src="app/img/icon-reformas-materia-antejuicio.png" class="img-responsive center" />
          </div>
          <div class="col-xs-7 col-md-8 col-md-offset-0 text-container text-center m-auto">
            REGRESO A COMISIÓN DE COOPERATIVISMO INICIATIVA 5632 - 14/10/2020
          </div>
          <div class="col-xs-2 col-md-2 text-center" style="padding-left: 5px; padding-right: 5px;">
            <span class="badge text-white"><i class="{{check-or-times model.perfil.iniciativa4}}"></i></span>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-3 col-md-2 text-center icon-container">
            <img src="app/img/icon-reformas-materia-antejuicio.png" class="img-responsive center" />
          </div>
          <div class="col-xs-7 col-md-8 col-md-offset-0 text-container text-center m-auto">
            PROPUESTA DIP. ROMÁN CASTELLANOS, SEMILLA, ADELANTAR ELECCIÓN DE CORTES - 21/10/2020
          </div>
          <div class="col-xs-2 col-md-2 text-center" style="padding-left: 5px; padding-right: 5px;">
            <span class="badge text-white"><i class="{{check-or-times model.perfil.iniciativa5}}"></i></span>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-3 col-md-2 text-center icon-container">
            <img src="app/img/icon-reformas-materia-antejuicio.png" class="img-responsive center" />
          </div>
          <div class="col-xs-7 col-md-8 col-md-offset-0 text-container text-center m-auto">
            ELECCION DE JD. 2021-2022, PLANILLA UNICA - 21/10/2020
          </div>
          <div class="col-xs-2 col-md-2 text-center" style="padding-left: 5px; padding-right: 5px;">
            <span class="badge text-white"><i class="{{check-or-times model.perfil.iniciativa6}}"></i></span>
          </div>
        </div>
        <div class="row border-0">
          <div class="col-xs-3 col-md-2 text-center icon-container">
            <img src="app/img/icon-reformas-materia-antejuicio.png" class="img-responsive center" />
          </div>
          <div class="col-xs-7 col-md-8 col-md-offset-0 text-container text-center m-auto">
            ACUERDO LEGISLATIVO 15-2020, ELECCION DE JD 2021-2022 - 21/10/2020
          </div>
          <div class="col-xs-2 col-md-2 text-center" style="padding-left: 5px; padding-right: 5px;">
            <span class="badge text-white"><i class="{{check-or-times model.perfil.iniciativa7}}"></i></span>
          </div>
        </div>
        <div class="row border-0">
          <span class="mr-4">
            <i class="my-auto fa fa-check"></i>
            A favor
          </span>
          <span class="mr-4">
            <i class="my-auto fa fa-times"></i>
            En contra
          </span>
          <span class="mr-4">
            <i class="my-auto fa fa-question-circle"></i>
            Ausente
          </span>
          <span class="mr-4" data-toggle="tooltip" data-placement="top" title="Información pendiente">
            <i class="my-auto fa fa-book"></i>
            Licencia
          </span>
        </div>
      </div>
    </div>
  </div>
  {{!-- Asistencia --}}
  <div class="col-md-6 d-none">
    {{!-- Gráfica de asistencia --}}
    <div class="panel">
      <div class="header d-flex">
        <img src="app/img/icon-asistencia.png" alt="Asistencia" class="image60x60"><h3 class="my-auto mx-5">Asistencia</h3>
      </div>
      <div class="body pie-chart">
        {{ember-chart class="m-2" type='doughnut' data=( pie-data model.asistencia.porcentaje) options=model.options width=200 height=100}}
      </div>
    </div>
  </div>
</div>
