{{!-- Información general --}}
<!--
  Revisa este diseño
-->
<div class="profile-candidate" style="border: 1px solid #ddd;">
  <div class="row perfil-container">
    <div class="col-md-3">
      <div id="candidate-img-profile" style="padding-top: 20px;">
        <img
          src="{{model.perfil.fotoPerfil}}"
          alt="{{model.perfil.nombre}}"
          border="0"
          class="img-responsive center-block"
        >
      </div>
    </div>

    <div class="col-md-5">
      <h1>{{model.perfil.nombre}}</h1>
      <table class="table">
        <tbody>
          {{#each-in model.perfil.informacionGeneral as |key item|}}
            <tr>
              <td>
                {{#if item.label}}{{{item.label}}}{{/if}}
                {{{item.value}}}
              </td>
            </tr>
          {{/each-in}}
        </tbody>
      </table>
    </div>

    <div class="col-md-4 social-side text-center d-block">
      <div>
        <img src="{{model.perfil.fotoUrlPartido}}" alt="{{model.perfil.partidoactual}}">
      </div>
      <div class="d-block mt-3">
        <div>
          <a href="{{mode.perfil.tw}}" target="_blank"><i class="fa fa-twitter mr-1"></i>{{model.perfil.tw}}</a>
        </div>
        <div>
          <a href="{{model.perfil.fb}}" target="_blank"><i class="fa fa-facebook mr-1"></i>{{model.perfil.nombre}}</a>
        </div>
      </div>
    </div>
  </div>
</div>

{{!-- Social --}}
<div class="row perfil-container">
  <div class="panel panel-default perfil-social">
    <div class="col-12 col-md-4">
      <i class="fa fa-phone"></i>
      <strong>{{model.perfil.telefono}}</strong>
    </div>
    <div class="col-12 col-md-4">
      <i class="fa fa-map-marker"></i>
      <strong>{{model.perfil.direccion}}</strong>
    </div>
    <div class="col-12 col-md-4">
      <i class="fa fa-envelope"></i>
      <strong>{{model.perfil.email}}</strong>
    </div>
  </div>
</div>

{{!-- Votaciones y Asistencia --}}
<div class="row">
  {{!-- Votaciones --}}
  <div class="col-md-6">
    <div class="perfil-container">
      <div class="panel panel-default">
        <div class="header d-flex">
            <img src="app/img/icon-votaciones.png" alt="Votaciones" class="image60x60"><h3 class="my-auto mx-5">Votaciones</h3>
          </div>
        <div class="panel-body tabla-gradacion-content no-padding-top-bottom">
          <div class="row">
            <div class="col-xs-3 col-md-2 text-center icon-container">
              {{!-- <i class="fa fa-graduation-cap"></i> --}}
              <img src="app/img/icon-reformas-materia-antejuicio.png" class="img-responsive center" />
            </div>
            <div class="col-xs-7 col-md-8 col-md-offset-0 text-container">
              Reformas Materia Antejuicio
            </div>
            <div class="col-xs-2 col-md-2" style="padding-left: 5px; padding-right: 5px;">
              <span class="badge"><i class="{{check-or-times model.votaciones.firstObject.ley1}}"></i></span>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-3 col-md-2 text-center icon-container">
              {{!-- <i class="fa fa-graduation-cap"></i> --}}
              <img src="app/img/icon-financiamiento-ilicito.png" class="img-responsive center" />
            </div>
            <div class="col-xs-7 col-md-8 col-md-offset-0 text-container">
              Financiamiento Ilícito
            </div>
            <div class="col-xs-2 col-md-2" style="padding-left: 5px; padding-right: 5px;">
              <span class="badge"><i class="{{check-or-times model.votaciones.firstObject.ley2}}"></i></span>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-3 col-md-2 text-center icon-container">
              {{!-- <i class="fa fa-graduation-cap"></i> --}}
              <img src="app/img/icon-reformas-al-código-penal.png" class="img-responsive center" />
            </div>
            <div class="col-xs-7 col-md-8 col-md-offset-0 text-container">
              Reformas al Código Penal
            </div>
            <div class="col-xs-2 col-md-2" style="padding-left: 5px; padding-right: 5px;">
              <span class="badge"><i class="{{check-or-times model.votaciones.firstObject.ley3}}"></i></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {{!-- Asistencia --}}
  <div class="col-md-6">
    {{!-- Gráfica de asistencia --}}
    <div class="perfil-container">
      <div class="panel panel-default">
        <div class="header d-flex">
            <img src="app/img/icon-asistencia.png" alt="Asistencia" class="image60x60"><h3 class="my-auto mx-5">Asistencia</h3>
          </div>
        <div class="pie-chart">
          {{ember-chart type='doughnut' data=( pie-data model.asistencia.porcentaje) options=model.options width=200 height=80}}
        </div>
      </div>
    </div>
  </div>
</div>
