{{#each flashMessages.queue as |flash|}}
  {{flash-message flash=flash}}
{{/each}}

{{head-layout}}

{{title "Monitor legislativo"}}

<div id="wrapper">
  <div class="container-fluid">
    <div class="row bg-dark sticky-contact justify-content-center">
      <div class="col-12 col-md-8">
          <a href="mailto:info@redciudadana.org?Subject=Desde%20Monitor%20Legislativo"><i class="fa fa-envelope text-light mx-1"></i></a>
          <a href="mailto:info@redciudadana.org?Subject=Desde%20Monitor%20Legislativo" class="text-light">Info@redciudadana.org</a>
          <a href="https://www.facebook.com/Redciudadanagt"><i class="fa fa-facebook-square text-light float-right mx-1"></i></a>
          <a href="https://twitter.com/RedxGuate"><i class="fa fa-twitter-square text-light float-right mx-1"></i></a>
      </div>
    </div>
  </div>
  {{#bs-navbar backgroundColor="primary" position="sticky-top" fluid=false as |navbar|}}
    <div class="navbar-header">
      {{navbar.toggle}}

      {{#link-to "application" class="navbar-brand"}}
          <img
            src="app/img/logo-brand.png"
            class="img-responsive"
            title="{{nombreApp}}"
            alt="Congreso">
      {{/link-to}}
    </div>

    {{#navbar.content}}
      {{#navbar.nav classNames='navbar-left' as |nav|}}
        {{#each model.config.navbarLinks as |link|}}
          {{#nav.item active=false}}{{#link-to link.route}}{{link.title}}{{/link-to}}{{/nav.item}}
        {{/each}}
      {{/navbar.nav}}
    {{/navbar.content}}
  {{/bs-navbar}}

  <div class="content-container">
    {{outlet}}
  </div>
</div>

<div id="footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-4 text-center text-md-left my-2 m-md-0">
        <h5>Ayúdanos a llegar a más personas</h5>
        <ul>
          <li><a href="http://donacion.redciudadana.org/" target="_blank"><i class="fa fa-heart"></i> Donaciones</a></li>
          <li><a href="http://voluntarios.redciudadana.org/" target="_blank"><i class="fa fa-users"></i> Voluntariado</a></li>
        </ul>
      </div>

      <div class="col-sm-4 text-center my-2 m-md-0">
        <h5>Desarrollado por:</h5>
        <a href="http://www.redciudadana.org/" target="_blank">
          <img class="logo" src="app/img/logo-red-blanco.png" alt="Red Ciudadana" title="Red ciudadana">
        </a>
      </div>

      <div class="col-sm-4 text-center text-md-left my-2 m-md-0">
        <h5>Contáctanos</h5>
        <ul>
          <li>
            <a href="mailto:info@redciudadana.org.gt?Subject=Prensa%20CandiDatos" class="email-prensa" target="_top">
              <i class="fa fa-envelope"></i> Correo electrónico: <strong>info@redciudadana.org</strong>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
