{{!-- Site main title --}}
{{#if model.config.siteMainTitle}}
  {{{model.config.siteMainTitle}}}
{{/if}}
{{!-- Banner --}}
{{#if model.config.banner1Title}}
  {{{model.config.banner1Title}}}
{{/if}}
{{!-- Filter widget --}}
{{#if model.config.useFrontFilterWidget}}
  <div {{!-- id="s-filters-main" --}}>
    <div class="search-and-filter row">
        <h1>Conoce todo sobre el proceso del congreso</h1>
        <div class="search-container col-12">
          {{#power-select
            selected=currentCandidato
            options=model.perfiles
            onchange=(route-action 'selectPerfil')
            searchField='nombre'
            placeholder='Escriba el nombre del diputado o diputada que desea buscar'
            noMatchesMessage='Sin resultados'
              as |candidato|
          }}
            <strong>{{candidato.nombre}}</strong>
          {{/power-select}}
        </div>
        <div class="col-12 filter-container">
          {{#bs-dropdown class="mx-2 rounded" as |dd|}}
            {{#dd.button class="btn-warning text-white"}}Votación <span class="caret"></span>{{/dd.button}}
            {{#dd.menu as |menu|}}
              {{#menu.item}}
                <label>
                <input type="checkbox" checked={{ley1}} onclick={{action (mut ley1) value="target.checked"}} onchange={{action 'applyFilter'}}>
                Reformas Materia Antejuicio
                </label>
              {{/menu.item}}
              {{#menu.item}}
                <label>
                <input type="checkbox" checked={{ley2}} onclick={{action (mut ley2) value="target.checked"}} onchange={{action 'applyFilter'}}>
                Financiamiento Ilícito
                </label>
              {{/menu.item}}
              {{#menu.item}}
                <label>
                <input type="checkbox" checked={{ley3}} onclick={{action (mut ley3) value="target.checked"}} onchange={{action 'applyFilter'}}>
                Reformas al Código Penal
                </label>
              {{/menu.item}}
            {{/dd.menu}}
          {{/bs-dropdown}}
          {{#bs-dropdown class="mx-2 rounded" as |dd|}}
            {{#dd.button class="btn-success"}}Distrito <span class="caret"></span>{{/dd.button}}
            {{#dd.menu as |menu|}}
              {{#menu.item}}
                <label>
                <input type="checkbox" checked={{ley1}} onclick={{action (mut ley1) value="target.checked"}} onchange={{action 'applyFilter'}}>
                Reformas Materia Antejuicio
                </label>
              {{/menu.item}}
              {{#menu.item}}
                <label>
                <input type="checkbox" checked={{ley2}} onclick={{action (mut ley2) value="target.checked"}} onchange={{action 'applyFilter'}}>
                Financiamiento Ilícito
                </label>
              {{/menu.item}}
              {{#menu.item}}
                <label>
                <input type="checkbox" checked={{ley3}} onclick={{action (mut ley3) value="target.checked"}} onchange={{action 'applyFilter'}}>
                Reformas al Código Penal
                </label>
              {{/menu.item}}
            {{/dd.menu}}
          {{/bs-dropdown}}
          {{#bs-dropdown class="mx-2 rounded" as |dd|}}
            {{#dd.button class="btn-info"}}Partido <span class="caret"></span>{{/dd.button}}
            {{#dd.menu as |menu|}}
              {{#menu.item}}
                <label>
                <input type="checkbox" checked={{ley1}} onclick={{action (mut ley1) value="target.checked"}} onchange={{action 'applyFilter'}}>
                Reformas Materia Antejuicio
                </label>
              {{/menu.item}}
              {{#menu.item}}
                <label>
                <input type="checkbox" checked={{ley2}} onclick={{action (mut ley2) value="target.checked"}} onchange={{action 'applyFilter'}}>
                Financiamiento Ilícito
                </label>
              {{/menu.item}}
              {{#menu.item}}
                <label>
                  <input type="checkbox" checked={{ley3}} onclick={{action (mut ley3) value="target.checked"}} onchange={{action 'applyFilter'}}>
                  Reformas al Código Penal
                </label>
              {{/menu.item}}
            {{/dd.menu}}
          {{/bs-dropdown}}
          {{#bs-dropdown class="mx-2 rounded" as |dd|}}
            {{#dd.button class="bg-primary"}}Genero <span class="caret"></span>{{/dd.button}}
            {{#dd.menu as |menu|}}
              {{#menu.item}}
                <label>
                <input type="checkbox" checked={{esMujer}} onclick={{action (mut esMujer) value="target.checked"}} onchange={{action 'applyFilter'}}>
                Femenino
                </label>
              {{/menu.item}}
              {{#menu.item}}
                <label>
                <input type="checkbox" checked={{esHombre}} onclick={{action (mut esHombre) value="target.checked"}} onchange={{action 'applyFilter'}}>
                Masculino
                </label>
              {{/menu.item}}
            {{/dd.menu}}
          {{/bs-dropdown}}
        </div>
    </div>
  </div>
{{/if}}
{{!-- Banner 2 --}}
{{#if model.config.banner1Link}}
  <img src="{{model.config.banner1Link}}" />
{{/if}}
{{!-- Portfolio --}}
{{#if model.config.useFrontPortfolioVisualization}}
  <div class="container">
    {{front-porfolio-visualization
      perfiles=model.perfiles
      onDidInsertElement=(action 'applyFilter')
    }}
  </div>
{{/if}}
{{!-- Portfolio mode table --}}
{{#if model.config.useFrontTableVisualization}}
  <table class="table">
    <tr>
      {{#each model.frontTableVisualizationConfig as |field|}}
        <th>{{field.tableTitle}}</th>
      {{/each}}
    </tr>

    {{#each model.perfiles as |perfil|}}
      <tr>
        {{#each model.frontTableVisualizationConfig as |field|}}
          <td>
            {{#if field.isLink}}
              {{#link-to 'perfil' perfil.id}}
                {{get perfil field.fieldName}}
              {{/link-to}}
            {{else}}
              {{get perfil field.fieldName}}
            {{/if}}
          </td>
        {{/each}}
      </tr>
    {{/each}}
  </table>
{{/if}}
{{!-- Page links --}}
{{#if model.config.mainPageLinks}}
  <div class="row main-page-links bg-color-gray" style="margin-top: 20px; padding: 20px 5px;">
    {{#each model.config.mainPageLinks as |link|}}
      <div class="col-sm-6">
        {{#if link.link}}
          <a href="{{link.link}}">
            {{#if link.imageLink}}
              <img src="{{link.imageLink}}" title="{{link.title}}" class="img-responsive center"/>
            {{else}}
              {{link.title}}
            {{/if}}
          </a>
        {{else}}
          {{#link-to link.route}}
            {{#if link.imageLink}}
              <img src="{{link.imageLink}}" title="{{link.title}}" class="img-responsive center"/>
            {{else}}
              {{link.title}}
            {{/if}}
          {{/link-to}}
        {{/if}}
      </div>
    {{/each}}
  </div>
{{/if}}
