{{!-- Banner --}}
{{#if model.config.banner1Title}}
  {{{model.config.banner1Title}}}
{{/if}}
{{!-- Filter widget --}}
<div style="background-image: url('app/img/banner-congreso.png'); background-size: cover;" class="text-white">
  <div class="search-and-filter row text-center">
      {{!-- Title --}}
      <div class="col-12 p-5">
        <h2 class="mx-auto">Conoce todo sobre el Congreso de Guatemala</h2>
        <h3 class="mx-auto font-weight-normal">Infórmate, participa e incide</h3>
      </div>
      {{!--Ember-power-select --}}
      <div class="search-container col-12 mb-4">
        {{#power-select
          selected=currentCandidato
          options=model.perfiles
          onchange=(route-action 'selectPerfil')
          searchField='nombre'
          placeholder='Busca a tu candidato'
          noMatchesMessage='Sin resultados'
            as |candidato|
        }}
          <strong>{{candidato.nombre}}</strong>
        {{/power-select}}
      </div>
      <div class="col-12 col-md-6">
        <h5>
          Filtrar por iniciativa a favor
        </h5>
        {{!-- VOTACIÓN --}}
        {{#power-select
          allowClear=true
          selected=this.currentIniciativa
          options=this.iniciativaOptions
          onchange=(queue (action 'selectIniciativa') (action 'applyFilter'))
          placeholder='Seleccionar iniciativa'
          noMatchesMessage='Sin resultados'
            as |iniciativa|
        }}
          <strong class="text-dark">{{iniciativa.label}}</strong>
        {{/power-select}}
      </div>
      <div class="col-12 col-md-6">
        <h5>
          Filtrar por distrito
        </h5>
        {{!-- Distrito --}}
        {{#power-select
          allowClear=true
          selected=this.currentDistrito
          options=this.distritos
          onchange=(queue (action 'selectDistrito') (action 'applyFilter'))
          placeholder='Seleccionar distrito'
          noMatchesMessage='Sin resultados'
            as |distrito|
        }}
          <strong class="text-dark">{{distrito}}</strong>
        {{/power-select}}
      </div>
      {{!-- Filters --}}
      <div class="col-12 filter-container">
        {{!-- PARTIDO --}}
        {{#bs-dropdown class="m-2 rounded" as |dd|}}
          {{#dd.button class="btn-info"}}<img src="app/img/icon-party-politic.png" alt="Partido" >Partido <span class="caret"></span>{{/dd.button}}
          {{#dd.menu as |menu|}}
            {{#menu.item}}
              <label>
              <input type="checkbox" checked={{TODOS}} onclick={{queue (action (mut TODOS) value="target.checked") (action 'applyFilter')}}>
              TODOS
              </label>
            {{/menu.item}}
            {{#menu.item}}
              <label>
              <input type="checkbox" checked={{INDP}} onclick={{queue (action (mut INDP) value="target.checked") (action 'applyFilter')}}>
              INDP
              </label>
            {{/menu.item}}
            {{#menu.item}}
              <label>
              <input type="checkbox" checked={{FCN}} onclick={{queue (action (mut FCN) value="target.checked") (action 'applyFilter')}}>
              FCN
              </label>
            {{/menu.item}}
            {{#menu.item}}
              <label>
              <input type="checkbox" checked={{BLR}} onclick={{queue (action (mut BLR) value="target.checked") (action 'applyFilter')}}>
              BLR
              </label>
            {{/menu.item}}
            {{#menu.item}}
              <label>
              <input type="checkbox" checked={{UNE}} onclick={{queue (action (mut UNE) value="target.checked") (action 'applyFilter')}}>
              UNE
              </label>
            {{/menu.item}}
            {{#menu.item}}
              <label>
              <input type="checkbox" checked={{PU}} onclick={{queue (action (mut PU) value="target.checked") (action 'applyFilter')}}>
              PU
              </label>
            {{/menu.item}}
            {{#menu.item}}
              <label>
              <input type="checkbox" checked={{BAC}} onclick={{queue (action (mut BAC) value="target.checked") (action 'applyFilter')}}>
              BAC
              </label>
            {{/menu.item}}
            {{#menu.item}}
              <label>
              <input type="checkbox" checked={{UCN}} onclick={{queue (action (mut UCN) value="target.checked") (action 'applyFilter')}}>
              UCN
              </label>
            {{/menu.item}}
            {{#menu.item}}
              <label>
              <input type="checkbox" checked={{CREO}} onclick={{queue (action (mut CREO) value="target.checked") (action 'applyFilter')}}>
              CREO
              </label>
            {{/menu.item}}
            {{#menu.item}}
              <label>
              <input type="checkbox" checked={{PAN}} onclick={{queue (action (mut PAN) value="target.checked") (action 'applyFilter')}}>
              PAN
              </label>
            {{/menu.item}}
            {{#menu.item}}
              <label>
              <input type="checkbox" checked={{VIVA}} onclick={{queue (action (mut VIVA) value="target.checked") (action 'applyFilter')}}>
              VIVA
              </label>
            {{/menu.item}}
            {{#menu.item}}
              <label>
              <input type="checkbox" checked={{EG}} onclick={{queue (action (mut EG) value="target.checked") (action 'applyFilter')}}>
              EG
              </label>
            {{/menu.item}}
            {{#menu.item}}
              <label>
              <input type="checkbox" checked={{URNG}} onclick={{queue (action (mut URNG) value="target.checked") (action 'applyFilter')}}>
              URNG
              </label>
            {{/menu.item}}
            {{#menu.item}}
              <label>
              <input type="checkbox" checked={{CONV}} onclick={{queue (action (mut CONV) value="target.checked") (action 'applyFilter')}}>
              CONV
              </label>
            {{/menu.item}}
            {{#menu.item}}
              <label>
              <input type="checkbox" checked={{WINAQ}} onclick={{queue (action (mut WINAQ) value="target.checked") (action 'applyFilter')}}>
              WINAQ
              </label>
            {{/menu.item}}
            {{#menu.item}}
              <label>
              <input type="checkbox" checked={{FUERZ}} onclick={{queue (action (mut FUERZ) value="target.checked") (action 'applyFilter')}}>
              FUERZ
              </label>
            {{/menu.item}}
          {{/dd.menu}}
        {{/bs-dropdown}}
        {{!-- GENERO --}}
        {{#bs-dropdown class="m-2 rounded" as |dd|}}
          {{#dd.button class="bg-primary"}}<img src="app/img/icon-sex.png">Género<span class="caret"></span>{{/dd.button}}
          {{#dd.menu as |menu|}}
            {{#menu.item}}
              <label>
              <input type="checkbox" checked={{esMujer}} onclick={{queue (action (mut esMujer) value="target.checked") (action 'applyFilter')}}>
              Femenino
              </label>
            {{/menu.item}}
            {{#menu.item}}
              <label>
              <input type="checkbox" checked={{esHombre}} onclick={{queue (action (mut esHombre) value="target.checked") (action 'applyFilter')}}>
              Masculino
              </label>
            {{/menu.item}}
          {{/dd.menu}}
        {{/bs-dropdown}}
        {{!-- Clear --}}
        {{#bs-button type="primary" onClick=(action 'clearFilter')}}Limpiar filtros{{/bs-button}}
      </div>
      {{!-- Badges --}}
      {{!-- <div class="col-12 mb-2">
        <h6>Filtrando:</h6>
        {{#each selectorBadges as |badge|}}
          <div class="btn btn-primary mx-1">{{humanize badge}}</div>
        {{/each}}
      </div> --}}
  </div>
</div>
{{!-- Banner 2 --}}
{{#if model.config.banner1Link}}
  <img src="{{model.config.banner1Link}}" />
{{/if}}
{{!-- Portfolio --}}
{{#if model.config.useFrontPortfolioVisualization}}
  <div class="container-fluid p-5 bg-light">
    <div>
    {{front-porfolio-visualization
      perfiles=model.perfiles
      onDidInsertElement=(action 'applyFilter')
    }}
    </div>
  </div>
{{/if}}
{{!-- Portfolio mode table --}}
{{#if model.config.useFrontTableVisualization}}
  <table class="table">
    <tr>
      {{#each model.frontTableVisualizationConfig as |field|}}
        <th>{{field.tableTitle}}</th>
      {{/each}}
    </tr>

    {{#each model.perfiles as |perfil|}}
      <tr>
        {{#each model.frontTableVisualizationConfig as |field|}}
          <td>
            {{#if field.isLink}}
              {{#link-to 'perfil' perfil.id}}
                {{get perfil field.fieldName}}
              {{/link-to}}
            {{else}}
              {{get perfil field.fieldName}}
            {{/if}}
          </td>
        {{/each}}
      </tr>
    {{/each}}
  </table>
{{/if}}
{{!-- Page links --}}
{{#if model.config.mainPageLinks}}
  <div class="row main-page-links bg-color-gray" style="margin-top: 20px; padding: 20px 5px;">
    {{#each model.config.mainPageLinks as |link|}}
      <div class="col-sm-6">
        {{#if link.link}}
          <a href="{{link.link}}">
            {{#if link.imageLink}}
              <img src="{{link.imageLink}}" title="{{link.title}}" class="img-responsive center"/>
            {{else}}
              {{link.title}}
            {{/if}}
          </a>
        {{else}}
          {{#link-to link.route}}
            {{#if link.imageLink}}
              <img src="{{link.imageLink}}" title="{{link.title}}" class="img-responsive center"/>
            {{else}}
              {{link.title}}
            {{/if}}
          {{/link-to}}
        {{/if}}
      </div>
    {{/each}}
  </div>
{{/if}}
